h1= title
#pictures
  - each picture in pictures
    div.picture
      img(src=picture.url, title=picture.title)
      a(href=picture.url, target='_blank') Link
      = " Tags: "
      - each tag in picture.tags
        = " "
        a(href='/pictures/#{tag}') #{tag}