script(src=quest.pubsubJSFile)
p Quest URL: #{quest.questURL}
p JS: #{quest.pubsubJSFile}
p Quest Name: #{quest.questName}
p PubSub URL: #{quest.pubsubURL}
p Tags: #{quest.tags}
p Buckets: #{quest.buckets}
p Colour Scheme: #{quest.colour_scheme}
